<!doctype html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Accordion - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
<script>
    $( function() {
        $( "#accordion" ).accordion();
    } );

    // template for a pizza product

    class Product {
        constructor(name, price, qty) {
            this.name = name;
            this.price = price;
            this.qty = qty;
        }
    }

    //var Order[];

    // define our products
    HSPizza = new Product("Hawaiian pizza (small)", 5, 0);
    HMPizza = new Product("Hawaiian pizza (medium)", 10, 0);
    HLPizza = new Product("Hawaiian pizza (large)", 11, 0);




</script>

<div id="accordion">
  <h3>Hawaian pizza (small)</h3>
  <div>
    <button id ="addSPizza">Add </button>
    <button id ="removeSPizza">Minus </button>
    <input type="text" id="pizzaQty"/>


  </div>

  <h3>Hawaian pizza (medium)</h3>
  <div>
    <button id ="addMPizza">Add</button>
    <button id ="removeMPizza">Minus</button>


  </div>

  <h3>Hawaian pizza (large)</h3>
  <div>
    <button id="addLPizza">Add</button>
    <button id="removeLPizza">Minus</button>


  </div>
</div>


<input type="text" id="pizzaQty"/>
<button id="viewCart">View Cart</button>
<div id="myCart"></div>

<script>
    $( "#addSPizza" ).click(function() {
        if (HSPizza.qty < 10) { // add a little validation
            var item = 1;
            qty = HSPizza.qty + 1;
            var name = 'Hawainn Pizza small';
            price = 5;
            alert('small pizza added' );

            UpdateCart(item,name,price,qty);

        }
    } );
     // end add small pizza

    $( "#removeSPizza" ).click(function() {
         //qty = HSPizza.qty - 1;
        alert('small pizza removed');

        RemoveFromCart();


    });  // end remove small pizza

    $( "#addMPizza" ).click(function() {
      if(HMPizza.qty < 10) { // add a little validation
          qty = HMPizza.qty + 1;
          item = 2;
          var name = 'Hawainn Pizza medium';
          price = 10;
          alert('medium pizza added' );

          UpdateCart(item, name,price,qty);

      }

     }); //end add medium pizza


    $( "#removeMPizza" ).click(function() {
        // HMPizza.qty = HMPizza.qty - 1;
        // updateCart();
        alert('medium pizza removed')
        RemoveFromCart();
    });  // end remove small pizza



    $( "#addLPizza" ).click(function() {
            // if(HMPizza.qty < 10) { // add a little validation
            //   HMPizza.qty = HMPizza.qty + 1;
            //updateCart();
            alert('large pizza added')
        }
    );
    // }); //end add LARGE pizza


    $( "#removeLPizza" ).click(function() {
        // HMPizza.qty = HMPizza.qty - 1;
        // updateCart();
        alert('large pizza removed')

    });  // end remove small pizza

//   push into a cart
    // push the selection on to an array



    var Cart = [];  // create cart array

    function UpdateCart(item, name,price,qty) {

        // make new row
        var newItem = {};
        //var Cart = [];

        alert('in the cart', item + name + price + qty);
        //var newItem = new CartList();
        newItem.item = item;
        newItem.name = name;
        newItem.price = price;
        newItem.quantity = qty;
        Cart.push(newItem);


        // favourite.push($this.val());
        alert("my order is " + Cart.join(", "));
        console.log(Cart);
    }

        function RemoveFromCart()
        {
            Cart.pop();
        }



// function to update the cart.
function updateCart(){
    var content = '';

    if (qty >= 1)  { // check to see if we should add it or not
        content = content + "HSPizza " + qty + " price" + qty * HSPizza.price;


        // select the cookie Qty box and add the new number of cookies selected.
        $( "#pizzaQty" ).val(HSPizza.qty);
    }
    // display the content variable in the myCart div.
    $( "#myCart" ).html(content);

    if(HSPizza.qty == 0){
        $( "#myCart" ).hide();


        $( "#pizzaQty" ).hide();
    } else {
        $( "#myCart" ).show();


        $( "#pizzaQty" ).show();
    }
}


$( "#viewCart" ).click(function() {

    updateCart();

});



</script>

</body>

</html>